.container{
    margin-bottom: 100px;
    margin-top: 100px;
}
.orenge-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.mi-button{
    background-color: rgb(245, 9, 87);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 9px 25px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: hotpink;
}
.cat1,.cat2,.cat3{
    padding:10px 30px;
}
.cat1{background-color: orangered;
       border-radius: 5px;}
.cat2{background-color: rgb(179, 5, 92);
       border-radius: 5px;}
.cat3{background-color: blue;
    border-radius: 5px;}
.cetagorie h1{
    color: white;
}
.cetagorie img{
    width: 100px;
}
.cat1:hover{
    background-color: hotpink;
}
.cat2:hover{
    background-color: greenyellow;
}
.cat3:hover{
    background-color: rgb(0, 255, 128);
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#contact{
    height: 300px;
}
.get{
    color:rgb(82, 77, 77);
}
.copy{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #fceae8;
    
}
.link:hover{
    color: black;
}
.copy{
    text-align: center;
}




